<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<behaviors>
      <endpointBehaviors>
        <behavior name="myBehavior">          
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
		</behaviors>
		<services>
			<service name="Webservice.ShoppingListService">
				<endpoint address="" behaviorConfiguration="myBehavior" 
                  binding="wsHttpBinding" 
                  contract="Webservice.IShoppingListService"/>
			</service>
		</services>
	</system.serviceModel>
	<system.web>
		<compilation debug="true"/>
  </system.web>
</configuration>
